<%= render 'products/search'%>

<div class="products-index">
  <% @products.each do |product| %>
      <div class ="row first">
        <div class="col col-md-12">
          <div class ="row">
            <div class = "col col-md-6 category-name-index">
              <%= link_to product.category, product %>
            </div>

            <%if current_user == User.find(1)%>
            <div class ="col col-md-6 edit-button">
              <%= link_to(content_tag(:i,nil,class: 'fa fa-pencil-square-o'), edit_product_path(product)) %>
              <%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o'), product, method: :delete, data: { confirm: 'Are you sure?' }) %>
            </div>
            <%end%>
          </div>

          <%= link_to  product  do %>
            <div class ="row each-product-row">
              <%product.items.each do |i|%>
                <div class="col col-md-2">
                  <%=image_tag i.image.image.url,   class: "item_image" %>
                  <br><span class = "item-name-index"><%=i.item_for_rent%></span><br>
                </div>
              <%end%>
            </div>
            <%end%>
        
        </div>
      </div>
    <% end %>
</div>
  



