

<p>
  <strong class = "category-name"><%= @product.category %></strong>
</p>
<div class ="row">
 	<%if (@product.category == "Books")%>
		<%@product.items.each do |i|%>
		<div class ="col col-md-3">
			<div class ="eachItem">
				<div class ="image-wrapper">
					<%= image_tag i.image.image.url %><br>
					<%=i.item_for_rent%> <br>
					Author:<%=i.brand%><br>
					Rent: Rs.<%= i.rental_cost%>  
			</div>
			</div> 
			</div> 
		<%end%>
	<%else%>

		<%@product.items.each do |i|%>
		<div class ="col col-md-3">
			<div class ="eachItem">
				<div class ="image-wrapper">
			
					<%= image_tag i.image.image.url %><br>
					<%=i.item_for_rent%><br> 
					Brand:  <%=i.brand%><br>
					Rent: Rs.<%=i.rental_cost%>
			<a href="/cart/<%= i.id%>">Add to cart</a>
			</div>
			</div> 
			</div> 
		<%end%>
	<%end%>
</div>








<%= link_to 'Edit or Add new Items', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
