<%= form_tag action: :trans_pay, :cart_total => params[:cart_total] , method: :post do %>
  <tr>
    <td><%= label_tag :name%></td>
    <td><%= text_field_tag :name%></td>
    </tr>
    <tr>
      <td><%= label_tag :credit_card_no%></td>
      <td><%= text_field_tag :credit_card_no%></td>
      </tr>
      <tr>
        <td><%= label_tag :csv%></td>
        <td><%= text_field_tag :csv%></td>
        </tr>
        <tr>
          <td><%= label_tag :expiry_date%></td>
          <td><%= date_select :date, :exp_date, :order=>[:month, :year]%></td>
          </tr>
          <tr>
          <td><%= submit_tag "Make Payment"%></td>
          </tr>
<%end%>
